.copy_right{
    color: gray;
}
@media (max-width : 800px){
    .footer-icons{
        width: 25px;
    }
    .footer ul{
        grid-template-columns: auto auto;
         gap: 8px;
         font-size: 14px;
    }
}